.dropdown-menu{
  padding: 8px 12px;
  color: black;
  background-color: gray;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  left: auto;
  }
  
  .dropdown-menu:focus,
  .dropdown-menu:hover{
  outline: none;
  border: 1px solid grey;
  color: pink;
  }
  
  .dropdown-menu option{
  background: white;
  }
  #search-button{
  border: 2px solid white;
  padding: 23px;
  }
  
  .heading{
  color: blue;
  }
  
  .title-flag{
  padding-top: 30px;
  text-align: center;
  
  }
  
  .exchange-rate{
  padding-right: 5px;
  text-align: center;
  font-weight: bold;
  }

  .exchange-rate-display{
    text-align: center;
    font-weight: bold;
  }

  .hero{
  padding-bottom: 30px;
  }
  
  .flag-img{
  width: 40rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

