.dropdown-menu{
  padding: 8px 12px;
  color: black;
  background-color: gray;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px; 
      
}

.dropdown-menu:focus,
.dropdown-menu:hover{
  outline: none;
  border: 1px solid grey;
  color: pink;
}

.dropdown-menu option{
  background: white;
}