.dropdown-menu{
  padding: 8px 8px;
  color: black;
  background-color: grey;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px; 
      
}

.dropdown-menu:focus,
.dropdown-menu:hover{
  outline: none;
  border: 1px solid grey;
}

.dropdown-menu option{
  background: white;
}
#search-button{
    border: 2px solid white;
    padding: 23px;
}

.heading{
    color: blue;
}

.title-flag{
    padding-top: 30px;
}

.exchange-rate{
    padding-top: 100px;
}
.hero{
    padding-bottom: 70px;
}
